<div class="page-header">
  <h2>Laboratorios de Realidad Aumentada</h2>
  <p>Explora y apropia los conceptos de RA a través de estos 6 módulos interactivos.</p>
</div>

<div class="labs-grid">
  <div class="glass-panel lab-card" *ngFor="let lab of labs">
    <div class="card-content">
      <div class="lab-number">{{ lab.id }}</div>
      <h3>{{ lab.title }}</h3>
      <p>{{ lab.description }}</p>
      <button class="glass-button start-btn" [routerLink]="['/laboratories', lab.id, 'inicio']">Ingresar al Módulo</button>
    </div>
  </div>
</div>
